div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 15px 0px;
  position: relative;
  left: 50%,
  margin-left: -60px;
  padding: 5px 20px;
  text-align: center;
  font-weight: bolder;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.giro{
  -webkit-animation: 1s giro 1; 
  -webkit-backface-visibility:visible;
}

@-webkit-keyframes giro{
  40%{
    -webkit-transform: perspective(100px)
                      rotateY(170deg)
                      translateZ(120px);
  }
  50%{/*el orden del translate influye, si se pone primero translate y despues rotate el giro lo hace sobre si mismo h se viene hacia mi*/
    -webkit-transform: perspective(100px)
                      rotateY(190deg)
                      translateZ(120px);
  }
  80%{
    -webkit-transform: perspective(100px)
                      rotateY(360deg)
                      translateZ(0px);
  }
  100%{
    -webkit-transform: perspective(100px)
                      rotateY(360deg);
  }
}
