div{
    height: 200px;
    width: 100px;
    background: orange;
    margin: 50px;
    border-color: green;
    border-style: solid;
    border-width: 10px;

    border-top-style: dashed;

    border-radius: 20px;
    border-top-right-radius: 50px;
    border-top-right-radius: 50px 30px;
}




/*

Los tres atributos fundamentales para 
establecer el borde a un elemento son:

    border-width: indica la anchura del borde
    border-style: indica el tipo del borde 
        (solid, dashed, double, dotted, 
        , outset o none)
    border-color: indica el color del borde

Estos atributos pueden resumirse en 
una sola linea con la estructura 
border: anchura estilo color. 

Así mismo se puede aplicar a un borde 
concreto con 
border-top-style o 
border-left-color, etc. 



border-radius: 20px;
border-top-left-radius: 30px 10px

Se puede establecer el radio de curbatura 
de las esquinas de forma igualada, 
pero tambien se pueden hacer curvaturas 
avanzadas especificando en qué esquina 
se aplicarán y cual será el radio en 
el eje X y en el eje Y para aplicar el radio 
de la esquina.

*/