div{

  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 10px 10px;
  text-align: center;
  font-weight: bolder;
  padding: 15px 30px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
}


.sombra_movil{
  -webkit-transform: translateX(0);
}
.sombra_movil:hover{ /*la caja se eleva 6px*/
  -webkit-transform: translateY(-6px);
  -webkit-animation:1.5 mover_caja infinite;
}

@-webkit-keyframes mover_caja{
  50%{
    -webkit-transform: translateY(-3px);
  }
}
.sombra_movil:before{
  content: '';
  position: absolute;
  width: 90%;
  left: 5%;
  top: 100%;
  height: 10px;

  background: -webkit-radial-gradient(
      center, ellipse,
       rgba(0,0,0,0.35) 0%,
       rgba(0,0,0,0) 80% );
  -webkit-transition-duration:0.3s;
  opacity: 0;
}

.sombra_movil:hover:before{
  opacity: 0.4;
  -webkit-transform: translateY(6px);
  -webkit-animation:1.5 mover_sombra infinite;
}

@-webkit-keyframes mover_sombra{
  50%{
    opacity: 1;
    -webkit-transform: translateY(3px);
  }
}