body {
    font-size: 16px;
    font-family: 'aldo', sans-serif;
    background: #233D58;
    position: relative;
}


canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: none;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

header{
	height: 35px;
	background: #233D58;
	width: 100%;
	position: relative;
}
header h1{
	display: none;
}

header #prev_section,header #next_section{
	width: 25px;
	height: 25px;
	margin: 5px;
	position: absolute;
	top: 0px;
	cursor: pointer;
	overflow: hidden;
}
header #prev_section{
	right: 35px;
}
header #next_section{
	right: 5px;
}
header #prev_section img, header #next_section img{
	width: 250%;
	top: -19px;
	left: -19px;
	position: relative;
}
header #next_section img{
	transform: rotate(180deg);
}

header nav .ioMenuMovil{
	line-height: 40px;
	height: 25px; 
	margin: 0px 0px 0px 10px;
	cursor: pointer;
	width: 120px;
	padding-top: 5px;
}
header nav .ioMenuMovil img{
	height: 100%;
}
header nav #card_menu{
	position: relative;
	height: 100%;
	width: 230px;
	background: white;
	top: -30px;
	left: 0px;
	border-right: 3px solid #AFAEAE;
	display: block;
	z-index: 999;
	padding-bottom: 20px;
}

header nav #card_menu #logo_menu{
	height: 200px;
	margin: 30px 0px;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	margin-bottom: 50px;
}
header nav #card_menu #logo_menu img{
	width: 100%;
}
header nav #card_menu ul{
	margin-top: -20px;
}
header nav #card_menu ul li{
	list-style: none;
	font-size: 1.5em;
	line-height: 37px;
}
header nav #card_menu ul li a{
	text-decoration: none;
	color: black;
}


#contact_button{
	border-radius: 50%;
	background: #F8931F;
	color: white;
	position: fixed;
	width: 60px;
	height: 60px;
	top: 80vh; /*300px;*/
	right: 10px;
	z-index: 80;
}
#contact_button:hover{
	cursor: pointer;
}
#contact_button:before{
	font-family: "icomoon";
	content: "\e925";
	position: relative;
	top: -6px;
	left: -2px;
	font-size: 3.9em;
}




#contact_form{
	/*width: 90%;
	max-width: 400px;*/
	position: absolute;
	width: 250px;
	left: 100%;
	margin-left: -250px;

	right: 0px;
	height: 100vh;
	z-index: 999;
	top: 35px;
	display: none;
	border-top: 1px solid black;
	box-shadow: 0px 0px 3px #9F9E9E;
	font-family: 'aller';
	background: white;
}
#contact_form form{
	background: white;
	/*padding-bottom: 20px;*/
}
#contact_form #close_form{
	position: absolute;
	top: 190px;
	left: 85%;
	height: 30px;
	width: 30px;
}
#contact_form #close_form:hover{
	cursor: pointer;
}
#contact_form #close_form:before{
	font-family: "icomoon";
	content: "\e923";
	font-size: 1em;
	top: 5px;
	left: 9px;
	position: relative;
}

#contact_form figure{
	height: 180px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #29abe2;
	text-align: center;
}
#contact_form figure img{
	margin: 0px;
	height: 100%;
}
#contact_form p{
	margin: 20px;
	width: 90%;
	margin-left: 5%;
}
#contact_form input,
#contact_form textarea{
	display: block;
	margin: 20px;
	border:none;
	border-bottom: 2px solid gray;
	width: 90%;
	margin-left: 5%;
	padding-bottom: 3px;
	font-weight: bold;
	margin-bottom: 50px;
}
#contact_form #button{
	padding: 8px 0px;
	border-radius: 5px;
	border: none;
	background: #F8931F;
	color: white;
}



#slider{
	width: 100%;
	position: relative;
	top: 66px;
	margin-top: -66px;
}


#slider section.slide{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}
#slider #home .mainanimation{
	background: none;
	min-height: 300px;
	width: 80%;
	position: absolute;
	margin-left: 10%;
}
#slider #home{
	/*background: purple;*/
	font-family: "aller";
	/*height: 85vh;*/
	position: relative;
	text-align: center;
	padding-bottom: 50px;
}
#slider #home .mainlogo{
	width: 60vw;
	margin-left: 20vw;
	/*max-width: 270px;*/
	/*background: white;*/
	min-height: 430px;
	position: relative;
	background: rgba(35,61,88,0.8);
	background: none;
	/* #233D58; */
}
#slider #home .mainlogo h2{
	text-align: center;
	font-size: 1.2em;
	position: relative;
	padding-top: 80px;
	color: white;
	font-weight: lighter;
}
#slider #home .mainlogo strong{
	font-family: "aldo";
	font-size: 2em;
	display: block;
}
#slider #home .mainlogo figure,
#slider #home .mainlogo figure img{
	width: 100%;
	margin:0px;
}
#slider #home .mainlogo figure{
	/*top: 110px;*/
	position: relative;
	padding-bottom: 30px;
}
#slider #home .facepage{

	/*background: yellow;*/
}
#slider #home .buttonspage{
	width: 100%;
	text-align: center;
	position: relative;
}
#slider #home .buttonspage > *{
	display: inline-block;
	width: 40%;
	margin: 5px 2.5%;
	padding: 15px 2.5%;
	color: white;
	text-decoration: none;
}
#slider #home #contratame{
	background: #F8931F;
	cursor: pointer;
}
#slider #home a{
	background: #29abe2;
}


#slider #aboutme{
	padding-bottom: 50px;
}

#slider #aboutme > div{
	width: 100%;
	margin-top: 0px;
}
#slider #aboutme .top_am figure{
	width: 100%;
	margin: 0px;
	overflow: hidden;
	height: 153px;
	z-index: 5;
	position: relative;
}
#slider #aboutme .top_am figure img{
	width: 100%;
	margin-top: -23%; /*-50px;*/
}
#slider #aboutme .top_am .text_am{
	font-family: 'aller';
	background: white;
	width: 80%;
	margin-left: 10%;
	margin-top: -53px;
	z-index: 10;
	position: relative;
	box-shadow: 0px 0px 3px #AFAEAE;
	padding-bottom: 30px; 
}
#slider #aboutme .top_am .text_am h2{
	background: #29abe2;
	color: white;
	font-weight: lighter;
	position: relative;
	width: 100px;
	font-size: 1.3em;
	padding: 10px 20px;
	top: -2px;
	left: -2px;
	box-shadow: 0px 0px 3px #AFAEAE; 
}
#slider #aboutme .top_am .text_am h2:before{
	content: '';
	border-color: transparent #29abe2 
                transparent transparent;
	border-style: solid;
	border-width: 15px 12px 0px 15px;

 	left: -26px;
 	top: 32px;
	position: absolute;
}
#slider #aboutme .top_am .text_am h2:after{
	content: '';
	border-color: transparent #233D58 
                transparent transparent;
	border-style: solid;
	border-width: 0px 12px 10px 12px;

 	left: -23px;
 	top: 46px;
	position: absolute;
}
#slider #aboutme .top_am .text_am p{
	margin: 5px 30px;
	font-size: 0.8em;
}
#slider #aboutme .top_am .text_am span{
	color: #29abe2;
	cursor: pointer;
}


#slider #aboutme .bottom_am{
	position: relative;
	display: block;
	margin-top: 50px;
}
#slider #aboutme .bottom_am article{
	width: 80%;
	height: 200px;
	background: #AFAEAE;
	margin: 20px 0px;
	margin-left: 10%;
	display: inline-block;
	position: relative;
	overflow: hidden;
}
#slider #aboutme .bottom_am article .card_service{
	width: 100%;
	position: absolute;
	background: white;
	color: #29abe2;
	text-decoration: none;
	top: 66%;
	height: 100%;
	font-family: 'aller';
	cursor: pointer;
	transition-duration: 0.5s;
	font-weight: lighter;
	font-size: 0.8em;
}
#slider #aboutme .bottom_am .card_service:hover{
	top: 0%;
}

#slider #aboutme .bottom_am .card_service:before{
	font-family: 'icomoon';
	content: '\e926';
	position: absolute;
	font-size: 3em;
	font-weight: bold;
	top: 5px;
	right: 0px;
}
#slider #aboutme .bottom_am .card_service:hover:before{
	-moz-transform: rotate(90deg);
}

#slider #aboutme .bottom_am .card_service h3{
	color: #AFAEAE;
	margin-left: 20px;
}
#slider #aboutme .bottom_am .card_service h3 strong{
	color: #29abe2;
	display: block;
}
#slider #aboutme .bottom_am .card_service p{
	color: black;
	margin-left: 20px;
	margin-top: 25px;
}
#slider #skills{
	text-transform: uppercase;
	font-family: 'aller';
	background: #f1f1f1;
}

#slider #skills > div{
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

#slider #skills article{
	margin-bottom: 30px;
}
#slider #skills #tecnicas,
#slider #skills #personales{
	width: 100%;
}
#slider #skills h2{
	font-size: 1.3em;
	margin-bottom: 30px;
	margin-top: 30px;
	width: 98%;
	margin-left: 2%;
}
#slider #skills .box_skills{
	width: 98%;
	margin-left: 1%;
	background: white;
	box-shadow: 0px 0px 3px #D4D2D2;
	padding-top: 10px;
	padding-bottom: 30px;
}
#slider #skills .skill{
	width: 80%;
	margin-left: 10%;
	position: relative;
	margin-bottom: 20px;
}
#slider #skills .skill h3{
	margin-bottom: 10px;
	font-size: 1em;
	position: relative;
	z-index: 9;
}
#slider #skills .skill .level,
#slider #skills .skill .rest{
	height: 10px;
	display: inline-block;
	vertical-align: top;
}
#slider #skills .skill .level{
	background: #29abe2;
}
#slider #skills .skill .rest{
	background: #D4D2D2;
}

#slider #skills .skill .hexagono{
	position: absolute;
	margin-left: -60px;
	top: -24px;
}
#slider #skills .skill .hexagono:before{
	font-family: 'icomoon';
	content: "\e92a";
	text-shadow: 0px 0px 2px #5A5A5A;
	font-size: 7em;
	color: white;
}
#slider #skills .skill .hexagono p{
	position: absolute;
	top: 20px;
	left: 38px;
	font-size: 1.5em;
	font-family: 'aldo';
}

#slider #skills #conocimientos ul{
	padding: 0px;
	margin: 0px;
	width: 31%;
	margin-left: 1%;
	display: inline-block;
	vertical-align: top;
}

#slider #skills #conocimientos ul li{
	position: relative;
	margin-left: 18px;
	margin-right: 30px;
	font-size: 0.8em;
	margin-bottom: 15px;
	list-style: none;
	width: 80%;
}
#slider #skills #conocimientos ul li:before{
	font-family: 'icomoon';
	content: "\e942";
	color: #29abe2;
	font-size: 3em;
	position: absolute;
	top: -13px;
	left: -30px;
}

#slider #skills #hobbies .hobby{
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	margin:30px 4%;
	position: relative;
	text-align: center;
}
#slider #skills #hobbies .hobby > * {
	display: inline-block;
	vertical-align: middle;
}
#slider #skills #hobbies .hobby div{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 4px solid #29abe2;
	box-shadow: 0px 0px 2px #D4D2D2,
				inset 0px 0px 2px #D4D2D2;
	position: relative;
}
#slider #skills #hobbies .hobby div:before{
	font-family: 'icomoon';
	font-size: 6em;
	color: #29abe2;
	position: relative;
	top: -18px;
	left: -15px;
	text-shadow: 0px 0px 4px #D4D2D2;
}

#slider #skills #hobbies .hobby:nth-of-type(1) div:before{
	content: "\e92b";
}
#slider #skills #hobbies .hobby:nth-of-type(2) div:before{
	content: "\e938";
}

#slider #skills #hobbies .hobby:nth-of-type(3) div:before{
	content: "\e937";
}

#slider #skills #hobbies .hobby:nth-of-type(4) div:before{
	content: "\e937";
}

#slider #skills #hobbies .hobby:nth-of-type(5) div:before{
	content: "\e938";
}

#slider #skills #hobbies .hobby:nth-of-type(6) div:before{
	content: "\e939";
}


#slider #skills #hobbies .hobby p{

	position: relative;
	left: 0px;
	font-size: 0.8em;
	width: 100%;
}


#slider #portfolio{
	background: #f1f1f1	;
	width: 100%;
}
#slider #portfolio #content_portfolio{
	width: 100%;
}

#slider #portfolio #categorias{
	width: 100%;
	text-align: center;
	background: none;
	margin: 40px 0px;
}
#slider #portfolio #categorias h2{
	margin: 5px 5px;
	background: #29abe2;
	color: black;
	display: inline-block;
	font-weight: lighter;
	font-size: 1.1em;
	width: 100px;
	line-height: 40px;
	text-align: center;
	box-shadow: 0px 0px 3px #5A5A5A;
	background: white;
	border-radius: 2px;
	cursor: pointer;
	text-transform: uppercase;
}
#slider #portfolio #categorias h2:nth-of-type(1){
	background: #29abe2;
	color: white;
}
#slider #portfolio #jobs{
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}
#slider #portfolio #jobs article{
	display: inline-block;
	vertical-align: top;
	background: #29abe2;
	border-radius: 3px;
	box-shadow: 0px 0px 3px #5A5A5A;
	width: 200px;
	height: 290px;
	text-decoration: none;
	margin: 10px 5px;
}
#slider #portfolio #jobs article figure{
	margin: 0px;
	width: 130px;
	height: 150px;
	margin-top: 75px;
	overflow: hidden;
	position: relative;
	transition-duration: 0.5s;
	width: 100%;
}
#slider #portfolio #jobs article figure img{
	margin: 0px;
	margin-left: -17px;
	margin-top: -40px;
	transform: scale(1.3);
}
#slider #portfolio #jobs article figure:hover{
	transform: rotateY(90deg);
	opacity: 0;
}
#slider #portfolio #jobs article figure figcaption{
	position: relative;
	top: -145px;
	color: black;
	text-decoration: none;
	font-size: 1.3em;
}
#slider #portfolio #jobs article figure span{
	display: block;
	text-decoration: none;
	color: #BFBDBD;
}

#slider #blog{
	width: 100%;
	background: #f1f1f1;
	padding-bottom: 50px;
}
#slider #blog #container_blog{
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

#slider #blog article{
	display: inline-block;
	vertical-align: top;
	box-shadow: 0px 0px 3px #5A5A5A;
	background: white;
	color: black;
	width: 202px;
	margin: 10px;
	padding: 0px;
}

#slider #blog article > div{
	display: inline-block;
	vertical-align: top;
	width: 199px;
	height: 200px;
	margin: 0px;
	padding: 0px;	
}
#slider #blog article .post_izq figure,
#slider #blog article .post_izq img{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#slider #blog article .post_text{
	width: 100%;
	height: 200px;
	transition-duration: 0.3s;
	text-align: left;
	position: relative;
	text-transform: uppercase;
}
#slider #blog article .post_text:hover{
	background: #29abe2;
	color: white;
}
#slider #blog article .post_text span{
	margin-left: 20px;
	top: 20px;
	position: relative;
	display: block;
}
#slider #blog article .post_text h2{
	font-size: 1.3em;
	margin-left: 20px;
	font-weight: normal;
	position: relative;
	top: 10px;
}
#slider #blog article .post_text p{
	display: block;
	position: absolute;
	width: 180px;
	margin-left: 2.5%;
	bottom: 0px;
	padding-top: 10px;
	border-top: 1px solid #D4D2D2;
	padding-left: 10px;
}
#slider #blog article .post_text p:before{
	content: '';
	position: absolute;
	left: 145px;
	top: 7px;
	height: 30px;
	background:red;
	border-left: 1px solid #D4D2D2;
}

#slider #blog article .post_text p:after{
	content: "\e93a";
	font-family: 'icomoon';
	position: absolute;
	font-size: 6em;
	left: 120px;
	top: -27px;
}

footer{
	width: 100%;
	background:black;
	color: white;
	position: fixed;
	bottom: -130px;
	transition-duration: 0.4s;
	margin-top: 50px;
	text-align: center;
	height: 150px;
	z-index: 90;
}
footer:hover{
	bottom: 0px;
}
footer:after{
	content: "\e924";
	color: black;
	font-family: 'icomoon';
	width: 80px;
	height: 80px;
	background:black;
	position: absolute;
	border-radius: 50%;
	font-size: 5em;
	left: 50%;
	margin-left: -40px;
	top: 0px;
	margin-top: -30px;
	transform:rotate(180deg);
	text-shadow: 0px 15px 0px white;
	transition-duration:0.3s;
}
footer:hover:after{
	transform:rotate(0deg);
	text-shadow: 0px 0px 0px white;
	color: black;
	background: white;
}

footer .rrss{
	margin-top: 70px;
	width: 100%;
}
footer .rrss a{
	display: inline-block;
	width: 40px;
	height: 40px;
}
footer .rrss a figure,
footer .rrss a figure img{
	width: 100%;
	margin:0px;
}

footer p{
	font-family: 'aller';
	font-size: 0.8em;
	font-weight: lighter;
}

@media screen and (min-width: 480px){
	#slider #home .mainlogo{
		width: 270px;
		left: 50%;
		margin-left: -135px;
	}
	#slider #home .mainlogo h2{
		font-size: 1.4em;
	}
	#slider #home .mainlogo figure{
		width: 80%;
		margin-left: 10%;
	}
	#slider #home .buttonspage > *{
		width: 200px;
	}
	#slider #aboutme .top_am figure{
		height: 183px;
	}
	#slider #blog article.double{
		width: 402px;
	}
}


@media screen and (min-width: 600px){
	#slider #aboutme > div{
		width: 80%;
		margin-left: 10%;
	}
	#slider #aboutme .top_am figure{
		height: 213px;
	}
	#slider #aboutme .bottom_am article{
		width: 40%;
		margin: 20px 4.5%;
	}
	#slider #skills #hobbies .hobby{
		width: 30%;
		margin:10px 1%;
	}
	
	#slider #skills #hobbies .hobby p{
		width: 30%;
		left: 10%;
		position: relative;
		text-align: left;
	}


}


@media screen and (min-width: 767px){
	body{
		/*background: green;*/
	}
	header{
		height: 50px;

	}
	header h1{
		display: inline-block;
		width: 20%;
		min-width: 200px;
		margin: 0px;
		height: 50px;
		line-height: 50px; /*se alinea el menu verticalmente*/
		margin-left: 80px;
	}
	header h1 > *{
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;
		color: white;
		font-weight: lighter;
		font-size: 0.8em;
		margin: 0px 3px;

	}
	header h1 figure{
		height: 40px;
		width: 40px;
		margin: 0px;
	}
	header h1 figure img{
		height: 100%; /*se ajusta mi imagen al tamaño h1 del logotipo arriba (40px)*/
	}
	header nav{
		display: inline-block;
		vertical-align: middle;
		width: 62%;
		position: relative;
	}
	header nav #showMovil,
	header nav #hideMenu{
		display: none;
	}
	header nav #card_menu{
		display: inline-block;
		border: none;
		position: relative;
		background: none; /*#29abe2;*/
		top: 0px;
		width: 100%;
		text-align: right;
		padding-bottom: 0px;
	}
	header nav #card_menu figure{
		display: none;
	}
	header nav #card_menu ul{
		margin: 0px;
		padding: 0px;
		margin-top: -15px;
	}
	header nav #card_menu ul li{
		display: inline-block;
		width: 75px;
		font-size: 1.2em;
		text-align: center;
		margin: 0px -2px;
	}
	header nav #card_menu ul li a{
		color: white;
	}
	header #prev_section,
	header #next_section{
		position: absolute;
		border-radius: 50px;
		right: 40px;
		background: #29abe2;
		width: 50px;
		height: 50px;
		overflow: visible;
		z-index: 999;
	}
	header #prev_section{
		top: 115px;
	}
	header #next_section{
		top: 190px;
	}
	header #prev_section img,
	header #next_section img{
		width: 100%;
		top:0px;
		left: 0px;
	}
	#contact_button{
		right: 41px;
	}
	#contact_form{
		top: 50px;
		width: 400px;
		left: 100%;
		margin-left: -400px;
	}
		
	#slider #aboutme .top_am figure{
		height: 243px;
	}

	#slider #skills > div{
		width: 75%;
		margin-left: 10%;
	}
	#slider #portfolio #content_portfolio,
	#slider #blog #container_blog{
		width: 75%;
		margin-left: 13%;
	}
	#slider #portfolio #categorias{
		text-align: right;
	}
}


@media screen and (min-width: 950px){
	#slider #aboutme > div{
		width: 65%;
		margin-left: 20%;
	}
	#slider #aboutme .top_am{
		margin-top: 50px;
		height: auto;
		background: white;
		box-shadow: 0px 0px 3px #AFAEAE;
	}
	#slider #aboutme .top_am > *{
		display: inline-block;
		vertical-align: top;
	}
	#slider #aboutme .top_am figure{
		/*width: 381px;
		height: 393px;*/
		width: 25%;
		margin: 0px;
		height: 100%;
		overflow: hidden;
		position: relative;
		max-height: 360px;
	}
	#slider #aboutme .top_am figure img{
		margin: 0px;
		width: 30vw;
		margin-left: -100px;
		transform: scale(1.2);
	}
	#slider #aboutme .top_am .text_am{
		width: 74%; /*520px;*/
		margin: 0px;
		/*margin-left: -5px;*/
		box-shadow: none;
		padding-bottom: 0px;
	}
	#slider #aboutme .top_am .text_am h2{
		top: -20px;
		left: -5px;
	}
	#slider #aboutme .top_am .text_am p{
		margin-bottom: 20px;
	}
	#slider #aboutme .bottom_am article{
		width: 20%;
		margin: 20px 0px;
		margin-right: 6.1%; 
		box-shadow: 0px 0px 3px #233D58
	}
	#slider #aboutme .bottom_am article:nth-child(4){
		margin-right: 0px;
	}
	#slider #skills > div{
		width: 40%;
		margin-left: 5%;
	}
	#slider #skills #conocimientos ul{
		margin-top: 30px;
	}
	#slider #skills #conocimientos ul li{
		width: 80%;
	}
	#slider #skills #hobbies .hobby{
		width: 40%;
		margin:10px 4%;
	}
}

