#piramide{
	position: relative;
	margin: 80px auto;
	height: 500px;
	width: 100px;
	-webkit-transform-style:preserve-3d;
	-webkit-transform-origin: 116px 200px 116px;
	-webkit-transform: rotateY(30deg);
	-webkit-animation: giro 10s infinite linear;
}
#piramide > div{ /*cada una de las caras*/
	position: absolute;
	border-style: solid;
	border-width: 200px 0px 200px 346px;
	-webkit-transform-origin:0 0 ;
}
#piramide > div:nth-child(1){
	border-color: transparent transparent
					transparent rgba(0,0,0,0.8);

	-webkit-transform: rotateX(-60deg)
						rotateY(19.5deg)
						translateX(-116px)
						translateY(-200px)
						translateZ(326px);
}

#piramide > div:nth-child(2){
	border-color: transparent transparent
					transparent rgba(255,0,0,0.8);

	-webkit-transform: rotateY(-19.5deg) 
						rotateX(180deg)						
						translateY(-400px);
}

#piramide > div:nth-child(3){
	border-color: transparent transparent
					transparent rgba(0,255,0,0.8);

	-webkit-transform: rotateY(90deg)
						rotateZ(60deg)
						rotateX(180deg)						
						translateY(-400px);
}

#piramide > div:nth-child(4){
	border-color: transparent transparent
					transparent rgba(0,0,255,0.8);

	-webkit-transform: rotateX(60deg)
						rotateY(19.5deg);
}

@-webkit-keyframes giro{
	from{
		-webkit-transform: rotateX(0deg)
							rotateY(0deg)
							rotateZ(0deg);
	}
	to{
		-webkit-transform: rotateX(360deg)
							rotateY(360deg)
							rotateZ(360deg);		
	}
}