div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 15px 0px;
  position: relative;
  left: 50%,
  margin-left: -60px;
  padding: 5px 20px;
  text-align: center;
  font-weight: bolder;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.vaiven:hover{
  -webkit-animation: 1s vaiven 1;  
}

@-webkit-keyframes vaiven{
  15%{ /*combinando rotaciones y translaciones con porcentaje*/
    -webkit-transform:rotate(-10deg) translateX(-25%);
  }
  30%{
    -webkit-transform:rotate(5deg) translateX(20%);
  }
  45%{
    -webkit-transform:rotate(-3deg) translateX(-10%);
  }
  60%{
    -webkit-transform:rotate(2deg) translateX(5%);
  }
  75%{
    -webkit-transform:rotate(-1deg) translateX(-3%);
  }
}


