div{

  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 10px 10px;
  text-align: center;
  font-weight: bolder;
  padding: 15px 30px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
}

.triangulo_fijo{
	-webkit-transform: translateX(0);
	-webkit-transition-duration:0.3s;
}
.triangulo_fijo:before{
	content: '';
	-webkit-transition-duration:0.3s;

	border-style: solid;
	border-width: 0px 15px 15px 15px; /*ahora apunta hacia arriba*/

	border-color: transparent
				transparent
				#a8cf45
				transparent;

	position: absolute;
	top: 0px; /*cambio posicion y orientacion en las propiedades*/
	left: 50%;
	margin-left: -15px;
}
.triangulo_fijo:hover{
	-webkit-transform: translateY(15px);
}
.triangulo_fijo:hover:before{
	top: -13px;
}