div.aparicion{
  font-family: 'Arial';
  background-color: #a8cf45;
  text-align: center;
  font-weight: bolder;
  position: relative;
  width: 120px;
  height: 60px;
  margin: 50px 0 0 20px;
  overflow: hidden;
}
p{
  position: absolute;
  top: 10%;
  left: 20%;
}

.aparicion{
  -webkit-animation: 2s fade 1;  
}

@-webkit-keyframes fade{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.8;
  }
}

.tapa{
  width: 100%;
  height: 100%;
  top:0;
  left: 120px;
  position: absolute;
  background: white;
  z-index: 10;
  -webkit-animation: 2s retirada 1;
}

@-webkit-keyframes retirada{
  0%{
    left: 0px;
  }
}