div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 10px 10px;
  text-align: center;
  font-weight: bolder;
  padding: 15px 30px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
}

.arrow{
	-webkit-transform: translateX(0);
}
.arrow:before{
	-webkit-transition-duration:0.3s;
	content: '';
	
	/*características que forman el triángulo*/
	border-color: transparent
					#a8cf45
					transparent
					transparent;
	border-style: solid;
	border-width: 15px 15px 15px 0px; /*apunta para donde no hay fuerza, izquierda*/

	/*Posicionamiento del triángulo*/
	left: 5px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
}
.arrow:hover:before{
	-webkit-animation: 1.5s moverflecha infinite;
}

@-webkit-keyframes moverflecha{
	25%{
		left: -15px;
		-webkit-transform: rotate(0deg);
	}
	65%{
		left: -15px;
		-webkit-transform: rotate(180deg);
	}
	90%{
		-webkit-transform:rotate(180deg);
	}
}