div{

  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 10px 10px;
  text-align: center;
  font-weight: bolder;
  padding: 15px 30px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
}

.esquina_pagina{
	-webkit-transform: translateX(0);
}
.esquina_pagina:before{
  content: '';

  position: absolute;
  left: 0px;
  bottom: 0px;

  width: 0;
  height: 0;
  
  /*esquina inferior izquierdo de esquina doblada*/
  background: -webkit-linear-gradient(45deg, white 45%, #aaa 50%, #acc 60%, white);
  -webkit-transition-duration:0.3s;
}

.esquina_pagina:hover:before{
  width: 35px;
  height: 35px;
}