body{
  background: #FFF;
}
.content{
  width: 160px;
  height: 160px;
  margin:100px;
  background: url("mapa.jpg");
  border-radius: 50%; 
  -webkit-animation: rotacion 10s infinite linear;
  box-shadow: 0px 5px 15px #888;
}

.sombra3D{
  background: url("esfera.jpg");
  position: absolute;
  width: 160px;
  height: 160px;
}

@-webkit-keyframes rotacion{
  0%{
    background-position: 0px 0px;
  }
  100%{
    background-position: -160px 0px;
  }
}
