body{
  background: #1750AF;
}

.box{
  display: inline-block;
  margin: 50px 20px;
  width: 200px;
  height: 200px;
  position: relative;
}

.box > div{
  border:2px solid black;
  position: absolute;
  width: 100%;
  height: 100%;
}

.front{
  opacity: 0.75;
  box-shadow: inset 0px 2px 20px black;
}
.back{
  background: red;
  -webkit-transform: translateZ(-100px)
                    rotateY(90deg);
  left:100px;
}
.box{
  transition-duration: 0.5s;
  transform-style: preserve-3d;
  transform-origin: left center;
}

.box:hover{
  -webkit-transform: perspective(800px)
                    rotateY(-80deg);
}
.box:hover .front{
  opacity: 1;
}
.box:nth-child(1) .front{
  background: url("gato.jpg");
}
.box:nth-child(2) .front{
  background: url("js.gif");
}

.back h1{
  margin: 0;
  width: 90%;
  margin-left: 5%;
  border-bottom: 3px solid #870606;
}
.back p{
  width: 90%;
  margin-left: 5%;
}