div{

  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 10px 10px;
  text-align: center;
  font-weight: bolder;
  padding: 15px 30px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
}


.sombra_fija{
  -webkit-transform: translateX(0);/*para que no se descuadre*/
}
.sombra_fija:before{
  content: '';
  position: absolute;
  width: 90%;
  left: 5%;
  top: 100%;
  height: 10px;

  background: -webkit-radial-gradient(
      center, ellipse,
       rgba(0,0,0,0.35) 0%,
       rgba(0,0,0,0) 80% );
  -webkit-transition-duration:0.3s;
  opacity: 0;
}
.sombra_fija:hover{
  -webkit-transform: translateY(-5px);
}
.sombra_fija:hover:before{
  -webkit-transform: translateY(5px);
  opacity: 1;
}