div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 10px 10px;
  text-align: center;
  font-weight: bolder;
  padding: 15px 30px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
}

.borde_interno{
  position: relative;
}
.borde_interno:before{
  content: '';
  position: absolute;
  border:4px solid white;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  opacity: 0;
  -webkit-transition-duration:0.3s;
}
.borde_interno:hover:before{
  opacity: 1;
}