div{

  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 10px 10px;
  text-align: center;
  font-weight: bolder;
  padding: 15px 30px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
}

.sombra_radial{
  position: relative;
  box-shadow: 0px 0px 1px black;
}
.sombra_radial:before, .sombra_radial:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0px;
  opacity: 0;
  -webkit-transition-duration:0.3s;
}

.sombra_radial:before{
  bottom: 100%;
  background: radial-gradient(
    ellipse at 50% 150%,
    rgba(0,0,0,0.6) 0%,
    rgba(0,0,0,0) 80%);
}
.sombra_radial:after{
  top:100%;
  background: radial-gradient(
    ellipse at 50% -50%,
    rgba(0,0,0,0.6) 0%,
    rgba(0,0,0,0) 80%);
}
.sombra_radial:hover:before, .sombra_radial:hover:after{
  opacity: 1;
}