div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 15px 0px;
  position: relative;
  left: 50%,
  margin-left: -60px;
  padding: 5px 20px;
  text-align: center;
  font-weight: bolder;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.veloz{
  -webkit-animation: 1s veloz 1;  
}

@-webkit-keyframes veloz{
  0%{
    opacity: 0; /*skew para inclinar*/
    -webkit-transform:translateX(-200%) skewX(30deg);
  }
  60%{
    opacity: 1;
    -webkit-transform:translateX(-20%) skewX(-30deg);
  }
  80%{
    -webkit-transform:translateX(0%) skewX(15deg);
  }
}