div{
  font-family: 'Arial';
  background-color: #a8cf45;
  text-align: center;
  font-weight: bolder; 
  position: relative;
  width: 120px;
  height: 50px;
  margin: 30px 0 0 10px;
}
p{
  padding-top: 15px;
}

.caja:hover{
  -webkit-animation:5s cambia_color 1; /*invoco al keyframe*/
  -moz-animation:5s cambia_color 1;
}
.caja2:hover{
  -webkit-animation:5s cambia_color_otro 1; /*invoco al keyframe*/
  -moz-animation:5s cambia_color 1;
}

@-webkit-keyframes cambia_color{
  0%, 70%{
    background: blue;
  }
  50%{ /*porcentaje de tiempo de la duracion de la animacion donde se hara el cambio*/
    background: red;
    height: 200px;
  }
}

/*otro metodo para poner los keyframes*/
@-webkit-keyframes cambia_color_otro{
  from{ /*estado inicial de la animacion que equivaldría al 0%*/
    background: blue;
  }
  to{ /*estado final de la animacion*/
    background: yellow;
  }
}

/*
  animation-name: indica el nombre que tendrá el keyframe que se añadirá a continuación
  animation-duration: tiempo total de la animacion 
  animation-iteration-count: veces que se repetirá. Para que sea en bucle 
      pondremos el valor "infinite"
  animation-delay: retardo con el que comenzará a aplicarse la reproducción de la animación  
*/