div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 15px 0px;
  position: relative;
  left: 50%,
  margin-left: -60px;
  padding: 5px 20px;
  text-align: center;
  font-weight: bolder;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.aparicion{
  -webkit-animation: 2s fade 1;  
}

@-webkit-keyframes fade{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.8;
  }
}