div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 15px 2px;
  text-align: center;
  font-weight: bolder;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.flash:hover{
  -webkit-animation: 0.7s flash 1;
}

@-webkit-keyframes flash{
    50%{
        opacity: 1;
    }
    25%, 75%{
        opacity: 0;
    }
}

