div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 15px 0px;
  position: relative;
  left: 50%,
  margin-left: -60px;
  padding: 5px 20px;
  text-align: center;
  font-weight: bolder;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.salida{
  -webkit-animation: 1s salida 1;  
}

/*para ahcerlo hacia abajo cambiamos el signo para el movimiento en los pixeles*/
/*para hacer el cambio horizontal pongo por translateX*/
@-webkit-keyframes salida{
  20%{
    opacity: 1;
    -webkit-transform: translateY(20px);
  }
  100%{
    opacity: 0;
    -webkit-transform: translateY(-500px);
  }
}