div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 15px 0px;
  position: relative;
  left: 50%,
  margin-left: -60px;
  padding: 5px 20px;
  text-align: center;
  font-weight: bolder;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.reboteIn{
  -webkit-animation: 1s reboteIn 1;  
}
/*si fuera del lado contrario cambio los signos*
/*para movimientos verticales cambio por translateY*/
@-webkit-keyframes reboteIn{
  0%{
    opacity: 0;
    -webkit-transform:translateX(-2000px);
  }
  50%{
    -webkit-transform:translateX(30px);
  }
  70%{
    -webkit-transform:translateX(-10px);
  }
}