div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 15px 0px;
  position: relative;
  left: 50%,
  margin-left: -60px;
  padding: 5px 20px;
  text-align: center;
  font-weight: bolder;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.cartel:hover{
  -webkit-animation: 1s cartel 1;
  -webkit-transform-origin:top center; /*origen de rotacion*/
  -moz-animation: 1s cartel 1;
  -moz-transform-origin:top center;
}

@-webkit-keyframes cartel{
   20%{
    -webkit-transform:rotate(15deg); /*rota 15 grados*/
   }
   40%{
    -webkit-transform:rotate(-10deg); 
   }
   60%{
    -webkit-transform:rotate(5deg); 
   }
   80%{
    -webkit-transform:rotate(-3deg); 
   }
}

@-moz-keyframes cartel{
   20%{
    -moz-transform:rotate(15deg); /*rota 15 grados*/
   }
   40%{
    -moz-transform:rotate(-10deg); 
   }
   60%{
    -moz-transform:rotate(5deg); 
   }
   80%{
    -moz-transform:rotate(-3deg); 
   }
}


