div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 10px 10px;
  text-align: center;
  font-weight: bolder;
  padding: 15px 30px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
}
.iluminacion{
    border:4px solid gray;
}
.iluminacion:hover{
    background: white;
    /*background: none;*/
}