body{
  color:#fff;
  font-family: Helvetica;
  background: #292929;
}

#content{
  text-align: center;
  width: 100%;
  transform-style: preserve-3d;
  -webkit-transform: perspective(6000px);
}
.rueda{
  margin:250px 50px;
  height: 150px;
  width: 150px;
  transform-style: preserve-3d;
  position: absolute;
  top: 0px;
}
#hours1{
  left: 0px;
  -webkit-animation: giro_horas 86400s infinite linear;
  transform-style: preserve-3d;
  -webkit-transform-origin:center center ;
}
#hours2{
  left: 160px;
  -webkit-animation: giro_medio 36000s infinite linear;
  transform-style: preserve-3d;
  -webkit-transform-origin:center center ;
}
#minutes1{
  left: 440px;
  -webkit-animation: giro_medio 3600s infinite linear;
  transform-style: preserve-3d;
  -webkit-transform-origin:center center ;
}
#minutes2{
  left: 600px;
  -webkit-animation: giro_total 600s infinite linear;
  transform-style: preserve-3d;
  -webkit-transform-origin:center center ;
}
#seconds1{
  left: 880px;
  -webkit-animation: giro_medio 60s infinite linear;
  transform-style: preserve-3d;
  -webkit-transform-origin:center center ;
}
#seconds2{
  left: 1070px;
  -webkit-animation: giro_total 10s infinite linear;
  transform-style: preserve-3d;
  -webkit-transform-origin:center center ;
}

.card{
  height: 150px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 5em;
  font-weight: bolder;
  line-height: 140px;
  background: rgba(10,10,10,0.9);
  position: absolute;
}

.c0{
  -webkit-transform:rotateX(0deg) translateZ(240px);
}
.c1{
  -webkit-transform:rotateX(36deg) translateZ(240px);
}
.c2{
  -webkit-transform:rotateX(72deg) translateZ(240px);
}
.c3{
  -webkit-transform:rotateX(108deg) translateZ(240px);
}
.c4{
  -webkit-transform:rotateX(144deg) translateZ(240px);
}
.c5{
  -webkit-transform:rotateX(180deg) translateZ(240px);
}
.c6{
  -webkit-transform:rotateX(216deg) translateZ(240px);
}
.c7{
  -webkit-transform:rotateX(252deg) translateZ(240px);
}
.c8{
  -webkit-transform:rotateX(288deg) translateZ(240px);
}
.c9{
  -webkit-transform:rotateX(324deg) translateZ(240px);
}

@-webkit-keyframes giro_total{
  0%,8%{
    -webkit-transform: rotateX(0deg);
  }
  10%,18%{
    -webkit-transform: rotateX(-36deg);
  }
  20%,28%{
    -webkit-transform: rotateX(-72deg);
  }
  30%,38%{
    -webkit-transform: rotateX(-108deg);
  }
  40%,48%{
    -webkit-transform: rotateX(-144deg);
  }
  50%,58%{
    -webkit-transform: rotateX(-180deg);
  }
  60%,68%{
    -webkit-transform: rotateX(-216deg);
  }
  70%,78%{
    -webkit-transform: rotateX(-252deg);
  }
  80%,88%{
    -webkit-transform: rotateX(-288deg);
  }
  90%,98%{
    -webkit-transform: rotateX(-324deg);
  }
  100%{
    -webkit-transform: rotateX(-360deg);
  }
}

@-webkit-keyframes giro_medio{
  0%,15%{
    -webkit-transform: rotateX(0deg);
  }
  16.6%,32%{
    -webkit-transform: rotateX(-36deg);
  }
  33.3%,48%{
    -webkit-transform: rotateX(-72deg);
  }
  50%,65%{
    -webkit-transform: rotateX(-108deg);
  }
  66.6%,82%{
    -webkit-transform: rotateX(-144deg);
  }
  83.3%,98%{
    -webkit-transform: rotateX(-180deg);
  }
  100%{
    -webkit-transform: rotateX(-360deg);
  }
}

@-webkit-keyframes giro_horas{
  0%,41.5%{
    -webkit-transform: rotateX(0deg);
  }
  41.6%,83.2%{
    -webkit-transform: rotateX(-36deg);
  }
  83.3%,99.9%{
    -webkit-transform: rotateX(-72deg);
  }
  100%{
    -webkit-transform: rotateX(-360deg);
  }
}