div{

  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 10px 10px;
  text-align: center;
  font-weight: bolder;
  padding: 15px 30px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
}

.sombra_externa{
  box-shadow: 0px 0px 1px black;
  -webkit-transition-duration:0.3s;
}
.sombra_externa:hover{
  box-shadow: 2px 3px 9px black;
}