div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 15px 0px;
  position: relative;
  left: 50%,
  margin-left: -60px;
  padding: 5px 20px;
  text-align: center;
  font-weight: bolder;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.veloz{
  -webkit-animation: 1s veloz 1;  
}

@-webkit-keyframes veloz{
  15%{
    opacity: 1;
  }
  100%{
    -webkit-transform:translateX(-200%) /*desplazamiento a la izquierda para que no salga el scrool*/
                      skew(-70deg); 
    opacity: 0;
  }
}