div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 15px 0px;
  position: relative;
  left: 50%,
  margin-left: -60px;
  padding: 5px 20px;
  text-align: center;
  font-weight: bolder;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.giro{
  -webkit-animation: 1s giro 1;  
  -webkit-transform-origin:center;
}

@-webkit-keyframes giro{
  0%{
    opacity: 0;
    -webkit-transform: rotate(-200deg);
  }
}