body{
  background: #6D0A43;
  font-family: 'Arial';
}
nav{
  background: white;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
nav ul{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

li{
  display: inline-block;
  margin: 7px -2px;
}
a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  padding: 5px 10px;
}

li:nth-of-type(1) a:focus{
  border-bottom: 3px solid #40731E;
}
li:nth-of-type(2) a:focus{
  border-bottom: 3px solid #2D6584;
}
li:nth-of-type(3) a:focus{
  border-bottom: 3px solid orange;
}
