div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 15px 0px;
  position: relative;
  left: 50%,
  margin-left: -60px;
  padding: 5px 20px;
  text-align: center;
  font-weight: bolder;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.salida{
  -webkit-animation: 1s salida 1;  
}

@-webkit-keyframes salida{
  25%{
    -webkit-transform: scale(0.9);
  }
  50%{
    opacity: 1;
    -webkit-transform: scale(1.1);
  }
  100%{
    opacity: 0;
    -webkit-transform: scale(0);
  }
}