div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 15px 0px;
  position: relative;
  left: 50%,
  margin-left: -60px;
  padding: 5px 20px;
  text-align: center;
  font-weight: bolder;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.giroX{
  -webkit-animation: 1.5s giroX 1; 
  -webkit-backface-visibility:visible; /*parte trasera de la caja*/
}

@-webkit-keyframes giroX{
  0%{
    opacity: 0.5;
     -webkit-transform: perspective(200px)
                     rotateX(90deg);
  }
  40%{
     -webkit-transform: perspective(200px)
                     rotateX(-20deg);
  }
  70%{
     -webkit-transform: perspective(200px)
                     rotateX(20deg);
  }
}