div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 15px 0px;
  position: relative;
  left: 50%,
  margin-left: -60px;
  padding: 5px 20px;
  text-align: center;
  font-weight: bolder;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.descolgado{
  -webkit-animation: 1s descolgado 1;  
  -webkit-transform-origin: top left; /*el origen sera el lado superior izquierdo*/
}

@-webkit-keyframes descolgado{
  20%, 60%{
    -webkit-transform:rotate(80deg);
  }
  40%{
    -webkit-transform:rotate(60deg);
  }
  80%{ /*mantiene la opacidad para no desaparecer de golpe*/
    opacity: 1;
    -webkit-transform:rotate(60deg);
  }
  100%{ /*desaparece */
    -webkit-transform:translateY(400px);
    opacity: 0;
  }
}


