div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 15px 2px;
  text-align: center;
  font-weight: bolder;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.click:hover{
  -webkit-animation: 0.7s click 1;
}

@-webkit-keyframes click{
    25%, 75%{
      -webkit-transform:scale(0.8);
    }
    25%{
      -webkit-transform:scale(1.1);
    }
}

